### Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import os, re
import matplotlib.pyplot as plt
import nltk
%matplotlib inline

In [2]:
os.chdir(r'E:\Hackathon\Beer_dataset_Machine_hack')

In [3]:
train_data=pd.read_csv('Beer Train Data Set.csv')
test_data=pd.read_csv('Beer Test Data Set.csv')
train_data.shape, test_data.shape

((185643, 10), (20628, 10))

In [4]:
train_data.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score
0,6.5,8929,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",15121,22,AmericanIPA,40-45,45-50,3.28
1,5.5,13187,"(PanAsian)Cheese(earthyCamembert,Fontina,nutty...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",59817,1,AmericanPaleAle(APA),35-40,40-45,3.52
2,8.1,6834,"Meat(Pork,Poultry)","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",32669,3,IrishRedAle,35-40,40-45,4.01
3,NaN,11688,"(Indian,LatinAmerican,PanAsian)General(Aperitif)","PintGlass(orBecker,Nonic,Tumbler),PilsenerGlas...",130798,0,AmericanMaltLiquor,35-40,35-40,0.00
4,6.0,10417,"Meat(Poultry,Fish,Shellfish)",PilsenerGlass(orPokal),124087,1,EuroPaleLager,35-40,40-45,2.73

In [5]:
test_data.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score
0,6.2,8803,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",34558,3,AmericanIPA,40-45,45-50,NaN
1,5.3,8558,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",86826,20,AmericanPorter,40-45,45-50,NaN
2,7.0,7519,"Cheese(earthyCamembert,Fontina)General(Aperitif)","Snifter,Tulip,OversizedWineGlass",17051,0,BelgianDarkAle,45-50,45-50,NaN
3,5.2,9852,"(LatinAmerican,German)Meat(Pork,Poultry)","Flute,PilsenerGlass(orPokal),Mug(orSeidel,Stein)",49156,2,ViennaLager,35-40,40-45,NaN
4,8.1,8991,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",162723,5,AmericanPorter,40-45,45-50,NaN

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185643 entries, 0 to 185642
Data columns (total 10 columns):
ABV                    170513 non-null float64
Brewing Company        185643 non-null int64
Food Paring            185643 non-null object
Glassware Used         185643 non-null object
Beer Name              185643 non-null int64
Ratings                185643 non-null object
Style Name             185643 non-null object
Cellar Temperature     178862 non-null object
Serving Temperature    185450 non-null object
Score                  185643 non-null float64
dtypes: float64(2), int64(2), object(6)
memory usage: 14.2+ MB

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20628 entries, 0 to 20627
Data columns (total 10 columns):
ABV                    18964 non-null float64
Brewing Company        20628 non-null int64
Food Paring            20628 non-null object
Glassware Used         20628 non-null object
Beer Name              20628 non-null int64
Ratings                20628 non-null object
Style Name             20628 non-null object
Cellar Temperature     19873 non-null object
Serving Temperature    20607 non-null object
Score                  0 non-null float64
dtypes: float64(2), int64(2), object(6)
memory usage: 1.6+ MB

### Imputing Missing values

In [8]:
# Impute missing values with mean of ABV in train and test sets
train_data['ABV'].fillna(train_data['ABV'].mean(), inplace=True)
test_data['ABV'].fillna(test_data['ABV'].mean(), inplace=True)

In [40]:
# Impute missing categorical variable with unknown category
train_data['Serving Temperature'].fillna('0-0', inplace=True)
test_data['Serving Temperature'].fillna('0-0', inplace=True)

In [41]:
# Impute missing categorical variable with unknown category
train_data['Cellar Temperature'].fillna('0-0', inplace=True)
test_data['Cellar Temperature'].fillna('0-0', inplace=True)

In [85]:
# need to impute values for cellar temperature
def min_max_sep(df, col_name):
    min_temp=[]
    max_temp=[]
    for i in range(len(df[col_name])):
        ax=df[col_name][i].split('-')[0]
        min_temp.append(ax)
        ac=df[col_name][i].split('-')[1]
        max_temp.append(ac)
    clean_min_temp=[int(i) for i in min_temp]
    clean_max_temp=[int(i) for i in max_temp]
    for xc in range(len(clean_min_temp)):
        if clean_min_temp[xc]==0:
            clean_min_temp[xc]=int(round(np.mean(clean_min_temp),0))
    for xd in range(len(clean_max_temp)):
        if clean_max_temp[xd]==0:
            clean_max_temp[xd]=int(round(np.mean(clean_max_temp),0))
    min_col_mod='min_'+''.join(col_name.lower().split())
    max_col_mod='max_'+''.join(col_name.lower().split())
    df[min_col_mod]=clean_min_temp
    df[max_col_mod]=clean_max_temp
    return df

In [86]:
# Getting max and min cellar and serving temperature in train set
train_data_1=min_max_sep(df=train_data, col_name='Cellar Temperature')
train_data_1=min_max_sep(df=train_data_1, col_name='Serving Temperature')

In [90]:
# Getting max and min cellar and serving temperature in test set
test_data_1=min_max_sep(df=test_data, col_name='Cellar Temperature')
test_data_1=min_max_sep(df=test_data_1, col_name='Serving Temperature')

In [89]:
train_data_1.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score,min_cellartemperature,max_cellartemperature,min_servingtemperature,max_servingtemperature
0,6.500000,8929,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",15121,22,AmericanIPA,40-45,45-50,3.28,40,45,45,50
1,5.500000,13187,"(PanAsian)Cheese(earthyCamembert,Fontina,nutty...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",59817,1,AmericanPaleAle(APA),35-40,40-45,3.52,35,40,40,45
2,8.100000,6834,"Meat(Pork,Poultry)","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",32669,3,IrishRedAle,35-40,40-45,4.01,35,40,40,45
3,6.354961,11688,"(Indian,LatinAmerican,PanAsian)General(Aperitif)","PintGlass(orBecker,Nonic,Tumbler),PilsenerGlas...",130798,0,AmericanMaltLiquor,35-40,35-40,0.00,35,40,35,40
4,6.000000,10417,"Meat(Poultry,Fish,Shellfish)",PilsenerGlass(orPokal),124087,1,EuroPaleLager,35-40,40-45,2.73,35,40,40,45

In [91]:
test_data_1.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score,min_cellartemperature,max_cellartemperature,min_servingtemperature,max_servingtemperature
0,6.2,8803,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",34558,3,AmericanIPA,40-45,45-50,NaN,40,45,45,50
1,5.3,8558,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",86826,20,AmericanPorter,40-45,45-50,NaN,40,45,45,50
2,7.0,7519,"Cheese(earthyCamembert,Fontina)General(Aperitif)","Snifter,Tulip,OversizedWineGlass",17051,0,BelgianDarkAle,45-50,45-50,NaN,45,50,45,50
3,5.2,9852,"(LatinAmerican,German)Meat(Pork,Poultry)","Flute,PilsenerGlass(orPokal),Mug(orSeidel,Stein)",49156,2,ViennaLager,35-40,40-45,NaN,35,40,40,45
4,8.1,8991,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",162723,5,AmericanPorter,40-45,45-50,NaN,40,45,45,50